#booking-form {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  background-color: #f1f1f134;
  padding: 60px;
  border-radius: 25px;
  text-align: left;
  box-shadow:
  -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}

.booking-form label {
  font-size: 16px;
  margin-bottom: 5px;
}

.booking-form-input{
  outline: none;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45), inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}
.react-tel-input input {
  outline: none;
  width: 100px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  /* margin-bottom: 200px; */
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45), inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}

.booking-form-select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  background-color: #fff;
  color: #000;
}

.booking-form-textarea {
  resize: none;
  height: 120px;
}

.booking-form-submit-button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.booking-form-submit-button:hover {
  background-color: #3e8e41;
}