.toggle-main {
  width: 100%;
  /* background-color: red; */
}

.bio {
  width: 100%;
  text-align: left;
  border: none;
  font-size: 22px;
  border-radius: 9px;
  padding: 0 10px;
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 10px rgb(219, 219, 219);
}

.toggle-bio-icon {
  display: block;
  display: flex;
  align-items: center;
}

.bio-line {
  text-align: left;
  font-size: 20px;
  /* font-weight: bold; */
  margin-left: 10px;
  /* padding-top: 5px; */
}

.toggle-bio-icon img {
  display: block;
  padding-top: 20px;
  width: 3%;
  display: flex;
  align-items: center;
}

.bio-content {
  border: none;
  padding: 20px;
  line-height: 24px;
  border-radius: 0 0 20px 20px;
  text-align: left;
  box-shadow: 2px 2px 10px rgb(219, 219, 219);
  font-size: 14px;
}

.toggle-flex {
  box-shadow: 2px 2px 10px rgb(219, 219, 219);
  border-radius: 9px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.toggle-flex.language {
  box-shadow: 2px 2px 10px rgb(219, 219, 219);
  border-radius: 9px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
}

.toggle-flex.language img {
  padding: 0 50px;
}

.toggle-flex.language p {
  padding: 0 50px;
  text-align: center;
}

.off-stage-member {
  width: 22%;
  border-radius: 9px;
  display: flex;
  align-items: center;
  padding: 20px;
  font-weight: bold;
  justify-content: center;
  flex-direction: column;
  color: #26c6da;
  background-color: rgb(216, 241, 255);
}

.off-stage-member.red {
  background-color: rgb(255, 214, 222);
  color: red;
}

.off-stage-member.purple {
  background-color: rgb(242, 214, 255);
  color: #be63f9;
}

.off-stage-member.yellow {
  background-color: rgb(255, 241, 214);
  color: orange;
}

.off-stage-number {
  font-size: 20px;
  padding-bottom: 20px;
}

.review-content {
  padding: 0 40px;
  position: relative;
}

.reviews {
  font-size: 20px;
  padding: 0 0 40px 0;
  text-align: center;
}

.bio-content h2 {
  font-size: 30px;
}

.postarea {
  width: 100%;
  border-radius: 2px;
  padding: 20px;
  font-size: 20px;
  color: rgb(61, 61, 61);
  margin: 50px 0;
  border: none;
  outline: none;
  box-shadow: 0px 2px 12px 3px rgb(216, 216, 216);
}

.post-btn {
  background-color: #0a3fff;
  border: none;
  color: white;
  position: absolute;
  padding: 10px 30px;
  right: 5%;
  margin-top: 130px;
}