@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

body {
  padding: 42px 80px;
}

@media (max-width : 940px) {
  body {
    padding: 20px 18px;
  }   
}